body {
    background-image: url("https://images.unsplash.com/photo-1663630487187-3c0a98e3d480?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=363&q=80");
    background-size: cover;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.container {
    max-width: 100%;
}